<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia</title>
    <link rel="stylesheet" href="../Estilos/styles.css">
</head>
<body>
    <header><h1>Familia</h1></header>
    <main>
        <nav>
            <a href="../index.html">Quien Soy</a>
            <a href="../templates/hobbies.html">Mis hobbies</a>
            <a href="../templates/familia.html">Mi familia</a>
        </nav>
        <section>
            <h2>Mi Familia</h2>
            <p>Mi familia es muy divertida, muy apacionada, es muy junta. Le gusta pasear </p>
            <img src="../assets/imagenes/Familia.jpeg" alt="Mi familia">
        </section>
        <footer>
            <p>Pagina realizada por Nicolas londoño Diaz. &copy; Todos los derechos reservados 2024</p>
        </footer>
    </main>
</body>
</html>