<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis hobbies</title>
    <link rel="stylesheet" href="../Estilos/styles.css">
</head>
<body>
    <header><h1>Mis Hobbies</h1></header>
    <main>
        <nav>
            <a href="../index.html">Quien Soy</a>
            <a href="/Clase henry/templates/hobbies.html">Mis hobbies</a>
            <a href="../templates/familia.html">Mi familia</a>
        </nav>
        
            <section>
                <h2>Warzone</h2>
                <p>En mis tiempos libres me gusta jugar video juegos como Warzone, tambien me gusta jugar con mi perro y escuchar musica.</p>
                <img src="/assets/imagenes/hobbi.jpg" alt="Mi hobbi">
            </section>
            <footer>Pagina realizada por Nicolas londoño Diaz. &copy; Todos los derechos reservados 2024</footer>

    </main>
</body>
</html>